@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0&display=swap');
@font-face {
    font-family: 'Gorgeash';
    src: 
        url('./fonts/GORGE___ASH.ttf') format('truetype'),
        url('./fonts/GORGE___ASH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#wood-sign,
#logo {
    animation: balancing 4s infinite;
}

.wooden-sign {
    position: relative;
    z-index: 1;
}

#left-string,
#right-string {
    animation: string-balancing 4s infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes balancing {
    0% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(-15px);
    }
}

@keyframes string-balancing{
    0% {
        transform: skew(-10deg)
    }
    50% {
        transform: skew(10deg);
    }
    100% {
        transform: skew(-10deg)
    }
}

.main-container {
    position: relative;
    height: 100vh;
    background-color: #fdf4da;
    outline: 4px #eadab2 solid;
    outline-offset: -30px;
    text-align: center;
    overflow: hidden;
}

.pizza-truck {
    position: absolute;
    left: 65px;
    right: 65px;
    bottom: 40px;
    opacity: 20%;
}


.brain, 
.pizzaiolo {
    position: absolute;
    bottom: 35px;
    width: 20%;
}

.brain {
    left: 30%;
}

.pizzaiolo {
    right: 30%;
    height: auto;
}

.brown-panel {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
}

#mustache {
    animation: mustache-anim infinite 5s;
    transform-origin: left;
    transform-box: fill-box;
}

#eyebrows {
    animation: eyebrows-up 2s infinite;
}

#mouth {
    animation: mouth-animation 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#right-arm {
    animation: right-arm-moving 2s infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

#left-arm {
    animation: left-arm-moving 4s infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes mustache-anim {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(4deg);
    }
    10% {
        transform: rotate(-4deg);
    }
    30%, 100% {
        transform: rotate(0deg);
    }
}

@keyframes eyebrows-up {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-3px);
    }
    30% {
        transform: translateY(0);
    }
    50%, 80% {
        transform: translateY(-3px);
    }
    80%, 100% {
        transform: translateY(0);
    }
}

@keyframes mouth-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1.1);
    }
    50%, 100% {
        transform: scale(1);
    }
}

@keyframes right-arm-moving {
    0% {
        transform: skew(0deg);
    }
    50% {
        transform: skew(10deg);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes left-arm-moving {
    0% {
        transform: skew(0deg) translateY(0px);
    }
    50% {
        transform: skew(10deg) translateY(-5px);
    }
    100% {
        transform: skew(0deg) translateY(0px);
    }
}