@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0&display=swap');
@font-face {
    font-family: 'Gorgeash';
    src: 
        url('./fonts/GORGE___ASH.ttf') format('truetype'),
        url('./fonts/GORGE___ASH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.main-container {
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: 100vh;
}

.brain-container {
    background-color: #e2d9cc;
    width: 33%;
    overflow: hidden;
}

.bubble-container {
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 10em;
    text-align: center;
}

.bubble-content {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: .5em;
    font-family: Gorgeash, cursive;
    font-size: 28px;
    text-transform: uppercase;
    z-index: 1;
}

#brain-body {
    animation: breath 2s infinite;
    transform-origin: center;
}

.brain {
    width: 60%;
    display: none;
}

.show-brain {
    display: inline-block;
    animation: brain-show 1s ease;
}

#wood-sign,
#logo {
    animation: balancing 4s infinite;
}

#left-string,
#right-string {
    animation: string-balancing 4s infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes breath {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes brain-show {
    0% {
        opacity: 0;
        filter: blur(4px);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }

}

@keyframes balancing {
    0% {
        transform: translateX(-15px);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(-15px);
    }
}

@keyframes string-balancing{
    0% {
        transform: skew(-10deg)
    }
    50% {
        transform: skew(10deg);
    }
    100% {
        transform: skew(-10deg)
    }
}

.clock-container {
    background-color: #fdf4da;
    flex-grow: 2;
    outline: 4px #eadab2 solid;
    outline-offset: -30px;
    text-align: center;
}

.game {
    width: 60%;
    margin-top: 70px;
    animation: wiggling 5s ease infinite;
}

.game-reporting {
    margin: auto;
    margin-top: 15px;
    font-family: 'Changa One';
    font-size: 24px;
    text-align: center;
    width: 85%;
}

.clock {
    position: relative;
    margin: auto;
    margin-top: 45px;
    width: 17vw;
    animation: ringing .2s;
    animation-iteration-count: 5;
    animation-delay: 180s;
    transform-origin: center;
    transform-box: fill-box;
}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    transform: translateX(-15%) rotate(-90deg);
    animation: ticking 60s steps(60, end);
    animation-iteration-count: 3;
    transform-origin: 25px;
    transform-box: fill-box;
}

@keyframes wiggling {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(2deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    60%, 100% {
        transform: rotate(0deg);
    }
}

@keyframes ticking {
    from {
        transform: translateX(-15%) rotate(-90deg)
    }
    to {
        transform: translateX(-15%) rotate(270deg);
    }
}

@keyframes ringing {
    0% {
        transform: rotate(0deg) translateX(0px);
    }
    33% {
        transform: rotate(5deg) translateX(25px);
    }
    66% {
        transform: rotate(-5deg) translateX(-25px);
    }
    100% {
        transform: rotate(0deg) translateX(0px);
    }
}
